<!-- <p> app </p> -->
<div *ngIf="cookieService.get('userid')" >
  <div class="form-group form-data" class="logbutton">
    <button type="submit" class="btn btn-default" class="buttonlist" [routerLink]="['/home']">Home</button>
    <button type="submit" class="btn btn-default" class="buttonlist" [routerLink]="['/myfriend']">MyFriend</button>
    <button type="submit" class="btn btn-default" class="buttonlist" [routerLink]="['/pendingfriendrequest']">Pending Requests</button>
    <button type="submit" class="btn btn-default" class="buttonlist" (click)="logoutUser()">Logout</button>
  </div>
</div>
<router-outlet></router-outlet>
